* {
	margin: 0;
	padding: 0;
}
body {
	margin:10px;
	padding:10px;
	border:0;
/*	width:100%;*/
	background:#f6f9fa url('gradient.png') repeat-x left top;
	font: normal 14px Verdana, sans-serif;
	color: #29556a;
	line-height: 1.5;

}
.header {
	height:60px;
	padding:10px;
	border:0;
/*	width:100%;*/
	background:#004040 url('gradient-off.png') repeat-x left top;
	font: normal 14px Verdana, sans-serif;
	color: #29556a;
}
.footer {
	height:20px;
	padding:10px;
	border:0;
/*	width:100%;*/
/*	background:#004040 url('gradient-off.png') repeat-x left top;*/
	font: normal 14px Verdana, sans-serif;
	color: #29556a;
}
.gap {
	height:40px;
}
.container {

	margin:10px;
	padding:10px;
	font: 14px Verdana, sans-serif;
line-height:1.8em;
}

/*ul.container {*/
ul {
	list-style-position:inside;
/*	margin: 10; padding: 10;*/
	  }
.container li {
	font: 14px Verdana, sans-serif;
	padding:4px;
/*	display:inline;*/
}

#main-menu {
	clear:both;
	float:left;
	padding: 8px 0px 6px 6px;
}
#main-menu a,
#main-menu a:link,
#main-menu a:active,
#main-menu a:visited {
/*	background:#208090 url('images/bg-white-off.png') repeat left top;*/
/*	color: #003030;*/
	color: #eee;
	text-decoration:none;
/*	border: 2px solid #003030;*/
	padding:8px;
}
#main-menu a:hover {
/*	background:#f6ff00 url('images/bg-white-off.png') repeat left top;*/
	color: #eee;
	text-decoration:underline;
/*	border: 2px solid #003030;*/
	padding:8px;
}
#main-menu li {
	font: 14px Verdana, sans-serif;
/*	display:inline;*/
}
a {
	text-decoration:none;
	color: #024;
	padding:10px;
	line-height: 1.5;
}
a:hover {
	text-decoration:underline;
	color: #024;
	padding:10px;
	line-height: 1.5;
}

h1 a {
	text-decoration:none;
/*	color: #fff;*/
	padding: 8px 0px 8px 0px;
	line-height: 1.5;
	color: #29556a;
}

h1 a:hover {
	text-decoration:underline;
/*	color: #fff;*/
	padding: 8px 0px 8px 0px;
	line-height: 1.5;
	color: #29556a;

}

h1.shadow {
	color: #fff;
    text-shadow: 1px 1px 2px #aaa;
	line-height: 1.5;
}
h1 {
/*    text-shadow: 1px 1px 2px #aaa;*/
	font: bold 32px Verdana, sans-serif;
	padding: 8px 0px 8px 0px;
	line-height: 1.5;
}
h2 {
/*    text-shadow: 1px 1px 2px #aaa;*/
	font: bold 24px Verdana, sans-serif;
	padding: 10px 0px 10px 0px;
	line-height: 1.5;
}

span.event a {
	text-decoration:none;
/*	color: #fff;*/
	color: #29556a;
}

span.event a:hover {
	text-decoration:underline;
/*	color: #fff;*/
	color: #29556a;

}

span.event {
	font: bold 18px Arial, sans-serif;
	padding: 4px 0px 4px 0px;
	line-height: 1.5;
    display: block;

}

span.genData {
	font: normal 18px Verdana, sans-serif;
	padding: 0px 0px 0px 0px;
	line-height: 1.5;
}

table
{
width:100%;
}
th {
	padding: 4px;
	border-top: 2px solid #29556a;
	border-bottom: 2px solid #29556a;
	text-align: left;
/*height:50px;*/
}
td {
	padding: 4px;
	border-bottom: 1px solid #49758a;
}
tr.trHead {
	background:#dee;
	}
tr.even {
	background:#eff;
}
tr.odd {
	background:#eff;
}

.slidingDiv {
    margin-top:10px;
}
 
.show_hide {
    display:none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="email"],
input[type="range"],
input[type="number"],
input[type="color"],
input[type="password"]
{
width:200px;
height:26px;
/*display:inline;*/
/*margin:4px;*/
padding:2px;
/*background-color:#80b0b0;*/
/*color:#fff;*/
color:#184c4d;
background-color:#A0C1B8;
}

input[type="email"],
input[type="color"]
{
background-color:#fff;
}

input[type="text"].wide
{
width:700px;
height:30px;
/*display:inline;*/
margin:4px;
padding:4px;
/*background-color:#80b0b0;*/
/*color:#fff;*/
color:#184c4d;
background-color:#A0C1B8;
}


input[type="submit"]
{
margin-left:20px;
/*display:block;*/
/*	display:inline;*/
/*	display:inline-block;*/
	margin:10px;
	padding:10px;
}

input[type="submit"].pagin
{
/*margin-left:20px;*/
/*display:block;*/
/*	display:inline;*/
/*	display:inline-block;*/
	margin:0px;
	padding:6px;
}

select.pagin
{
/*margin-left:20px;*/
/*display:block;*/
/*	display:inline;*/
/*	display:inline-block;*/
	margin:0px;
	padding:6px;
}

option.pagin
{
/*margin-left:20px;*/
/*display:block;*/
/*display:inline;*/
	margin:0px;
	padding: 2px 4px 2px 4px;
}

input[type="file"]
{
/*display:inline;*/
/*display:inline-block;*/
	margin:10px;
	padding:10px;
}
#result
{
	font: bold 14px Verdana, sans-serif;
	color: #040;
}
#error
{
	font: bold 14px Verdana, sans-serif;
	color: #c44;
}
/*http://api.jqueryui.com/datepicker/#theming*/
div.ui-datepicker{
 font-size:12px;
 background-color:#fff;
 border: 1px solid #49758a;
	padding:4px;
}
div.ui-datepicker-header{
 font-size:16px;
 background-color:#ccc;
 border: 1px solid #49758a;
	padding:2px;
}
td.ui-datepicker{
	padding: 2px;
	border: 0px solid #49758a;
}



th {
	padding: 4px;
	border-top: 2px solid #29556a;
	border-bottom: 2px solid #29556a;
	border-left: 1px solid #49758a;
	border-right: 1px solid #49758a;
}
td {
	padding: 4px;
/*	border-bottom: 1px solid #49758a;*/
	border: 1px solid #49758a;
}

.inner
{
    display: inline-block;
}
.outer
{
    width:100%;
    text-align: left;
}

.vertical
{
    display: block;
}

/*Table styles*/
.tdLeftBot {
	font: 12px/14px "Verdana", sans-serif;
	padding: 1mm;
	border-left: 1px solid navy;
	border-bottom: 1px solid navy;
	border-right: 0px solid navy;
	border-top: 0px solid navy;
}
.tdLeftBotRight {
	font: 12px/14px "Verdana", sans-serif;
	padding: 1mm;
	border-left: 1px solid navy;
	border-bottom: 1px solid navy;
	border-right: 1px solid navy;
	border-top: 0px solid navy;
}

.rowInvisible
{
    width:100%;
    text-align: left;
	border-width: 0px 0px 0px 0px;
/*	font: bold 18px arial, sans-serif;*/
}

.rowHeader
{
    width:100%;
    text-align: left;
	border-left: 1px solid navy;
	border-bottom: 0px solid navy;
	border-right: 1px solid navy;
	border-top: 1px solid navy;
	font: bold 18px arial, sans-serif;
}

.rowUp
{
    width:100%;
    text-align: left;
	border-left: 1px solid navy;
	border-bottom: 0px solid navy;
	border-right: 1px solid navy;
	border-top: 1px solid navy;
}
.rowDown
{
    width:100%;
    text-align: left;
	border-left: 1px solid navy;
	border-bottom: 0px solid navy;
	border-right: 1px solid navy;
	border-top: 0px solid navy;
}
.rowDownLast
{
    width:100%;
    text-align: left;
	border-left: 1px solid navy;
	border-bottom: 1px solid navy;
	border-right: 1px solid navy;
	border-top: 0px solid navy;
}
.frontMenuItem
{
    display: inline-block;
	margin:4px;
	padding:4px;
		font: bold 24px Arial, sans-serif;

/*	border-left: 1px solid navy;*/
}
div.frontMenuItem a {
	text-decoration:none;
/*	color: #fff;*/
	padding: 8px 16px 8px 16px;
	line-height: 1.5;
	color: #29556a;
}

div.frontMenuItem a:hover {
	text-decoration:underline;
/*	color: #fff;*/
	padding: 8px 16px 8px 16px;
	line-height: 1.5;
	color: #29556a;

}


.moduleMenuItem
{
    display: inline-block;
	margin:4px;
	padding:4px;
		font: bold 18px Arial, sans-serif;

/*	border-left: 1px solid navy;*/
}
div.moduleMenuItem a {
	text-decoration:none;
/*	color: #fff;*/
	padding: 4px 8px 4px 8px;
	line-height: 1.5;
	color: #29556a;
}

div.moduleMenuItem a:hover {
	text-decoration:underline;
/*	color: #fff;*/
	padding: 4px 8px 4px 8px;
	line-height: 1.5;
	color: #29556a;

}

.cell
{
    display: inline-block;
	margin:4px;
	padding:2px;
/*	border-left: 1px solid navy;*/
}
.cellLast
{
    display: inline-block;
	margin:4px;
	padding:2px;
}

fieldset
{
	margin:10px;
	padding:10px;
}
textarea
{
width:280px;
height:60px;
margin-left:0px;
/*display:block;*/
/*display:inline;*/
	margin:0px;
	padding:4px;
background-color:#A0C1B8;
/*background-color:#4aa;*/
}

label {
  display: inline-block;
  width: 440px;
  text-align: right;
	font: bold 16px Arial, sans-serif;
	margin:0px;
	padding:4px;

​}

