* {
	margin: 0;
	padding: 0;
}
body {
	margin:10px;
	padding:10px;
	border:0;
/*	width:100%;*/
	font: normal 14px Verdana, sans-serif;
	color: #29556a;
}
a {
	text-decoration:none;
	color: #024;
	padding:8px;
	line-height: 1.5;
}
a:hover {
	text-decoration:underline;
	color: #024;
	padding:8px;
	line-height: 1.5;
}


h1.shadow {
    text-shadow: 1px 1px 2px #aaa;
}
th {
	padding: 2px;
	border-top: 2px solid #29556a;
	border-bottom: 2px solid #29556a;
	border-left: 1px solid #49758a;
	border-right: 1px solid #49758a;
}
table {
/*	border-bottom: 1px solid #49758a;*/
}
table, th, td {
    border: 1px solid #49758a;
    border-spacing: 0px;
    }
td {
/*	border-bottom: 1px solid #49758a;*/
/*	border-left: 1px solid #49758a;*/
	margin:0px;
/*	border: 1px solid #49758a;*/
	padding: 2px;
/*	border-bottom: 1px solid #49758a;*/
}
td.lastCol {
/*	border-right: 1px solid #49758a;*/
}

table.noBorder, td.noBorder {
/*	border-bottom: 1px solid #49758a;*/
	border: 0px solid #49758a;
}

td.number {
	text-align: right;
}
tr.trHead {
	background:#dee;
	}
tr.even {
	background:#eff;
}
tr.odd {
	background:#eff;
}
tr.field {
	background:#89b5ca;
}

.slidingDiv {
    margin-top:10px;
}
 
.show_hide {
    display:none;
}

/*html, body, .docSet {*/
/*#html, #body, .docSet {*/
.docSet {
/*#html, .docSet {*/
	height:100%;
	width:100%;
    margin-bottom:400px;
}
#result
{
	font: bold 14px Verdana, sans-serif;
	color: #040;
}
#error
{
	font: bold 14px Verdana, sans-serif;
	color: #c44;
}

label
{
display:block;
	margin:0px;
	padding:10px;
}
fieldset
{
	margin:10px;
	padding:10px;
}
