
.col2 {
	display:block;
	margin:18px;
/*	margin:15px;*/
	padding:15px;
	position:relative;
/*	width:100%;*/
	overflow:hidden;
}

.navi-area {
	float:left;
	color: #FFFFFF;
	font: normal 18px/24px 'DejaVu Sans', sans-serif;
	position:relative;
	padding: 0 0 0 20px;
	z-index: 3;
}
